@import url('https://fonts.googleapis.com/css2?family=Edu+NSW+ACT+Foundation:wght@400..700&display=swap');

.homepage {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: rgb(1, 1, 26);
    color: white;
    position: relative;
    z-index: 1;
}

.text-behind {
    position: absolute;
    top: 0;
    z-index: 1;
    display: flex;
    justify-content: center;
}

.osdhacklogo {
    width: 12%;
    margin-top: 2%;
}

.jiitlogo {
    position: absolute;
    top: 0;
    left: 5%;
    width:5%;
    background: white;
    padding:0.5% 1%;
}

.homepage .event {
    font-size: 6rem;
    margin: 3%;
    background: linear-gradient(to right, #092e9e, #065fb9, #0b4ab6);
    background-clip: text;
    color: transparent;
    font-weight: 600;
    -webkit-text-stroke: 3px white;
}

.homepage .tagline {
    width: 60%;
    text-align: center;
    font-size: 2rem;
    font-family: "Edu NSW ACT Foundation", cursive;
}

.homepage .button {
    margin-top: 3%;
    padding: 0 5%;
    width: 100%;
    text-align: center;
}

.homepage .button button {
    outline: 0;
    border: 0;
    font-size: 1.3rem;
    border: 1px solid white;
    padding: 0.5% 1%;
    cursor: pointer;
    transition: all 0.4s ease-in-out;
    border-radius: 10%;
}

.homepage .register {
    background-color: blue;
    color: white;
    margin: 0 3%;
}

.cod a {
    text-decoration: underline;
    color: black;
}

.homepage .register a {
    text-decoration: none;
    color: white;
    font-size: 1.35rem;
    font-weight: 500;
}

.homepage .button button:hover {
    transform: scale(1.1);
}

.hbutton {
    position: absolute;
    bottom: 7%;
    width: 100%;
    display: flex;
    justify-content: center;
}

.hbutton button {
    border: 0;
    outline: 0;
    margin: 1% 3%;
    background: #d90c39;
    padding: 0.3% 0.8%;
    cursor: pointer;
    font-weight: 500;
    transition: all 0.4s ease-in-out;
    border-radius: 10%;
}

.hbutton button a {
    color: #00FFF8;
    text-decoration: none;
    font-size: 1.1rem;
}

.hbutton button:hover {
    transform: scale(1.1);
}

@media only screen and (max-width:1000px) {
    .text-behind {
        font-size: 6rem;
    }
}

@media only screen and (max-width:750px) {
    .homepage .event {
        font-size: 5rem;
        -webkit-text-stroke: 1px white;
    }

    .text-behind {
        font-size: 5rem;
    }

    .homepage .tagline {
        width: 80%;
        margin-bottom: 5%;
        font-size: 1.7rem;
    }

    .homepage .button button {
        font-size: 1rem;
    }

    .homepage .register a {
        font-size: 1.1rem;
    }

    .hbutton {
        bottom: 3%;
    }

    .hbutton button a {
        font-size: 1rem;
    }

    .jiitlogo{
        width: 8%;
        top:2%;
    }
}

@media only screen and (max-width:580px) {

    .jiitlogo{
        top:6%;
    }
    .homepage .event {
        font-size: 4rem;
    }

    .text-behind {
        font-size: 4rem;
    }

    .homepage .tagline {
        font-size: 1.5rem;
    }

    .hbutton {
        bottom: 1%;
    }

    .hbutton button a {
        font-size: 0.8rem;
    }
}

@media only screen and (max-width:450px) {
    .homepage .event {
        font-size: 3rem;
    }

    .text-behind {
        font-size: 3rem;
        margin-top: 3%;
    }

    .homepage .tagline {
        font-size: 1.3rem;
        width: 90%;
    }

    .hbutton button a {
        font-size: 0.6rem;
    }
}