.aboutsection {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3%;
    color: white;
    background:rgb(1, 1, 26);
}

.aboutheading {
    font-size: 3rem;
    font-weight: 600;
}

.aboutcontent {
    font-size: 1.3rem;
    text-align: justify;
    margin: 2% 10%;
}

.aboutcontent .para {
    /* background-color: rgba(22, 77, 124, 0.5); */
    padding: 10px;
    border-radius: 10px;
    margin-top:0.5%;
}

.aboutcontent .register {
    font-size: 1.5rem;
    text-align: center;
    margin: 3% auto;
    background-color: #3a11ce;
    padding: 0.5% 3%;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: fit-content;
    position: relative;
    z-index: 1;
}

.registertext {
    text-decoration: none;
    color: white;
}

.aboutcontent .register::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 0;
    height: 0;
    background-color: rgba(130, 126, 126, 0.3);
    border-radius: 50%;
    z-index: -1;
    transition: width 0.3s ease-out, height 0.3s ease-out;
}

.aboutcontent .register:hover::before {
    width: 250px;
    height: 250px;
}

.image img {
    height: 150px;
    width: 150px;
}

.image {
    margin: 3%;
    border: 5px solid transparent;
    border-image: linear-gradient(10deg, rgb(187, 4, 4), rgb(30, 30, 118));
    border-image-slice: 1;
    animation: borderAnimation 10s ease-in-out infinite;
}

.rightanimation {
    animation: borderAnimation2 10s ease-in-out infinite;
}

.aboutimages {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
}


@keyframes borderAnimation {

    0%,
    100% {
        transform: rotate(0deg);
    }

    25% {
        transform: rotate(20deg);
    }

    50% {
        transform: rotate(-20deg);
    }

    75% {
        transform: rotate(20deg);
    }
}

@keyframes borderAnimation2 {

    0%,
    100% {
        transform: rotate(0deg);
    }

    25% {
        transform: rotate(-15deg);
    }

    50% {
        transform: rotate(15deg);
    }

    75% {
        transform: rotate(-15deg);
    }
}

.circles {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.circles li {
    position: absolute;
    display: block;
    list-style: none;
    width: 30px;
    height: 30px;
    background: rgba(255, 255, 255, 0.2);
    animation: animate 5s linear infinite;
    bottom: -150px;

}

.circles li:nth-child(1) {
    left: 25%;
    width: 80px;
    height: 80px;
    animation-delay: 1s;
}


.circles li:nth-child(2) {
    left: 10%;
    width: 20px;
    height: 20px;
    animation-delay: 2s;
    animation-duration: 12s;
}

.circles li:nth-child(3) {
    left: 70%;
    width: 20px;
    height: 20px;
    animation-delay: 5s;
}

.circles li:nth-child(4) {
    left: 40%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 18s;
}

.circles li:nth-child(5) {
    left: 45%;
    width: 20px;
    height: 20px;
    animation-delay: 0s;
}

.circles li:nth-child(6) {
    left: 75%;
    width: 110px;
    height: 110px;
    animation-delay: 3s;
}

.circles li:nth-child(7) {
    left: 35%;
    width: 150px;
    height: 150px;
    animation-delay: 7s;
}

.circles li:nth-child(8) {
    left: 50%;
    width: 25px;
    height: 25px;
    animation-delay: 15s;
    animation-duration: 45s;
}

.circles li:nth-child(9) {
    left: 10%;
    width: 15px;
    height: 15px;
    animation-delay: 2s;
    animation-duration: 35s;
}

.circles li:nth-child(10) {
    left: 85%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 11s;
}



@keyframes animate {

    0% {
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }

    100% {
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }

}

@media only screen and (max-width:900px) {
    .aboutcontent .register  {
        margin-top: 6%;
    }

    .para{
        margin-top:2%;
    }
}

@media only screen and (max-width:580px) {
    .aboutheading {
        font-size: 2rem;
    }

    .aboutcontent {
        font-size: 1.1rem;
        margin:2% 0;
    }

    .image img {
        height: 120px;
        width: 110px;
        border-radius: 10px;
    }

    .para{
        margin-top:4%;
    }

}